@import "./variables.scss";
@import "./mixin.scss";

body {
  background-color: $galaxy-black;
  color: $unity-white;
}

.starwars {
  font-family: "starwars";
}

.aurebesh {
  font-family: "aurebesh";
}