@import "./variables.scss";
@import "./mixin.scss";

body {
  background-color: $galaxy-black;
  color: $unity-white;
}

.starwars {
  font-family: "starwars";
}

.aurebesh {
  font-family: "aurebesh";
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
}