@import "./variables.scss";
@import "./mixin.scss";

.card {
    box-sizing: border-box;
    height: 300px;
    width: 230px;
    border: 2px solid $valor-green;
    border-radius: 5px;
    cursor: pointer;
    .internal-card {
        box-sizing: border-box;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
        border: 2px solid $valor-green;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: $transition;

            &.grayscale {
                filter: grayscale(100%);
            }
        }
        svg {
            fill: $durasteel-grey;
            height: 150px;
            width: 150px;
        }
        .wanted-status {
            z-index: 100;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotate(-50deg) translate(-30%, -300%);
            font-size: 2em;
            padding: 5px 0;
            width: 350px;
            text-align: center;
            opacity: 1;
            &.ws-white {
                @include wanted-border();
                color: $unity-white;
            }
            &.ws-red {
                @include wanted-border($color: $imperial-red);
                color: $imperial-red;
            }
            &.ws-grey {
                @include wanted-border($color: $unity-white);
                color: $unity-white;
            }
        }
    }
    .add-user-card {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    &:hover {
        .internal-card {
            img {
                transform: scale(1.15);
            }
            .wanted-status p {
                font-family: "starwars";
            }
        }
    }
}