@import "./variables.scss";

.select-arrow {
    position: relative;
    display: grid;
    width: 265px;
    height: 43px;
    &::before {
        position: absolute;
        width: 14px;
        height: 14px;
        content: '';
        transform: translateY(-50%);
        top: 50%;
        left: 0.5rem;
        mask-image:url("../images/arrow.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    select {
        font-family: $aurebesh;
        font-size: $font-size-small;
        line-height: 1.3rem;
        position: relative;
        padding: 0.5rem 1.375rem;
        color: $durasteel-grey;
        background-color: $unity-white;
        border: 1px solid $durasteel-grey;
        option {
            background-color: $unity-white;
            color: $durasteel-grey;
        }
        &:hover {
            font-family: "starwars";
        }
    }
}