// Variables

/*
*
* Font-family
*
*/

$starwars: "starwars";
$aurebesh: "aurebesh";

/*
*
* Colors
*
*/

$galaxy-black: #000000;
$durasteel-grey: #64696c;
$unity-white: #ffffff;
$coruscant-blue: #394a59;
$imperial-red: #bc1e22;
$valor-green: #556567;

/*
*
*
* Animation
*
*/
$animation-duration: 0.4s;

/*
*
*
* Font Size
*
*
*/

$font-size-extra-large: 3.125rem;
$font-size-large: 1.625rem;
$font-size-medium: 1.2rem;
$font-size-normal-medium: 1.1rem;
$font-size-normal: 1rem;
$font-size-normal-small: .9rem;
$font-size-small: .875rem;
$font-size-extra-small: 0.75rem;
$font-size-footer: 10px;

/*
*
*
* Font Weight
*
*
*/

$font-weight-extra-light: 100;
$font-weight-light: 200;
$font-weight-demi-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-extra-black: 900;


/*
*
*
* Transition
*
*
*/
$transition: 0.5s;
