// Variables

/*
*
* Colors
*
*/

$light-gray: #222222;
$white: #ffffff;
$light-gray: #fafafa;
$black: #000000;
$light-red: #e30813;
$dark-red: #e50914;
$royal-blue: #0063cf;
$dark-slate-gray: #303030;
$dim-gray: rgb(117, 117, 117);
$warning:#ffa00a;
$border-gray-transparent: rgba(255,255,255,.25);
$dark-gray: #333;
$light-gray: #dbdbdb;
$light-gray-background: #f3f3f3;
$dark-white: #eeeeee;
$gray-med: #aaa;
$gray-999: #999;
$blue-gradient-value-1: #0080ff;
$blue-gradient-value-2: #0277ec;
$red-logo: #e50914;
$profile-bg: #141414;

/*
*
*
* Animation
*
*/
$animation-duration: 0.4s;

/*
*
*
* Font Size
*
*
*/

$font-size-extra-large: 3.125rem;
$font-size-large: 1.625rem;
$font-size-medium: 1.2rem;
$font-size-normal-medium: 1.1rem;
$font-size-normal: 1rem;
$font-size-normal-small: .9rem;
$font-size-small: .875rem;
$font-size-extra-small: 0.75rem;
$font-size-footer: 13px;

/*
*
*
* Font Weight
*
*
*/

$font-weight-extra-light: 100;
$font-weight-light: 200;
$font-weight-demi-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-extra-black: 900;


/*
*
*
* Transition
*
*
*/
$profiles-transition: all 0.2s ease;
